.button {
  border: none;
  border-radius: 12px;
  color: white;
  cursor: pointer;
  font-size: $font-xs-size;
  min-width: 160px;
  padding: $s-size $l-size;
  &:focus { outline: none; }
}

.button--blue {
  background-color: $blue;
}

.button--orange {
  background-color: $orange;
}
