.button {
  border: none;
  border-radius: 12px;
  color: white;
  cursor: pointer;
  font-size: $font-xs-size;
  width: 160px;
  padding: $s-size $l-size;
  &:focus { outline: none; }
}

@media (max-width: $breakpoint-mobile-l) {
  .button {
    font-size: $font-xxs-size;
    width: 45%;
    padding: 1.2rem $s-size;
  }
}

.button--blue {
  background-color: $blue;
}

.button--orange {
  background-color: $orange;
}
