// INPUTS

.form__inputs { margin-bottom: $l-size; }

@media (min-width: $breakpoint-mobile-s + 1) and (max-width: $breakpoint-mobile-l) {
  .form__inputs { margin-bottom: $m-size; }
}

@media (max-width: $breakpoint-mobile-s) {
  .form__inputs { margin-bottom: $s-size; }
}

// INPUT

.form__input {
  background: none;
  border: none;
  border-bottom: 6px solid $orange;
  border-radius: 0;
  color: $blue;
  font-size: $font-m-size;
  padding: 0 0 $xs-size 0;
  width: 100%;
  &::placeholder { color: white; }
  &:focus {
    border-bottom-color: $blue;
    outline: none;
  }
}

.form__input--textarea {
  background: rgba(white, 0.20);
  padding: $xs-size;
  &:not(:only-child) { margin-top: .6rem; }
}

@media (max-width: $breakpoint-mobile-l) {
  .form__input {
    font-size: $font-xs-size;
    padding-bottom: $xxs-size;
  }
}

// INPUT-GROUP

.form__input-group--small {
  display: flex;
  flex-direction: column;
  width: 45%;
}

.form__input-group--large {
  display: flex;
  flex-direction: column;
  &:not(:last-child) { margin-bottom: $l-size; }
}

@media (min-width: $breakpoint-mobile-s + 1) and (max-width: $breakpoint-mobile-l) {
  .form__input-group--large:not(:last-child) { margin-bottom: $m-size; }
}

@media (max-width: $breakpoint-mobile-s) {
  .form__input-group--large:not(:last-child) { margin-bottom: $s-size; }
}

// TWO-INPUTS

.form__two-inputs {
  align-items: flex-end;
  display: flex;
  justify-content: space-between;
  &:not(:last-child) { margin-bottom: $l-size; }
}

@media (min-width: $breakpoint-mobile-s + 1) and (max-width: $breakpoint-mobile-l) {
  .form__two-inputs:not(:last-child) { margin-bottom: $m-size; }
}

@media (max-width: $breakpoint-mobile-s) {
  .form__two-inputs:not(:last-child) { margin-bottom: $s-size; }
}

// FORM-NAVIGATION

.form__navigation {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 20px;
  margin-bottom: $l-size;
}

@media (min-width: $breakpoint-mobile-s + 1) and (max-width: $breakpoint-mobile-l) {
  .form__navigation {
    margin-bottom: $m-size;
    height: 15px;
  }
}

@media (max-width: $breakpoint-mobile-s) {
  .form__navigation {
    margin-bottom: $s-size;
    height: 12px;
  }
}

// QUESTION

.form__question {
  color: $grey-dark;
  font-size: $font-s-size;
  font-weight: normal;
  margin: 0 0 $s-size 0;
}

@media (max-width: $breakpoint-mobile-l) {
  .form__question { font-size: $font-xs-size; }
}

// ERROR

.form__error {
  color: $grey-dark;
  font-size: $font-xs-size;
  font-weight: normal;
  margin: 0 0 $l-size 0;
}

@media (max-width: $breakpoint-mobile-l) {
  .form__error { font-size: 1.4rem; }
}

@media (min-width: $breakpoint-mobile-s + 1) and (max-width: $breakpoint-mobile-l) {
  .form__error { margin-bottom: $m-size; }
}

@media (max-width: $breakpoint-mobile-s) {
  .form__error { margin-bottom: $s-size; }
}

// LABEL

.form__label {
  color: $orange;
  font-size: $font-xs-size;
}

@media (max-width: $breakpoint-mobile-l) {
  .form__label { font-size: 1.4rem; }
}

// CONTROLS

.form__controls {
  display: flex;
  justify-content: space-between;
}

// NEXT-BUTTON

.form__next-btn:only-child { margin-left: auto; }

// PENDING

.form__pending {
  align-items: center;
  background: rgba(white, 0.4);
  background-image: url('/images/dualball.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 200px;
  border-radius: 50px;
  bottom: 0;
  display: flex;
  flex-direction: column;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

@media (max-width: $breakpoint-mobile-l) {
  .form__pending {
    background-size: 120px;
  }
}

// DONE

.form__done__icon {
  background-image: url('/images/check-circle.svg');
  background-position: center;
  background-repeat: no-repeat;
  height: 100px;
  margin-bottom: $l-size;
}

.form__done__text {
  color: $blue;
  font-size: $font-s-size;
  font-weight: 400;
  text-align: center;
}

@media (max-width: $breakpoint-mobile-l) {
  .form__done__icon {
    margin-bottom: $m-size;
    height: 60px;
  }

  .form__done__text { font-size: $font-xs-size; }
}

// RADIO INPUT

.form__radio-input {
  align-items: center;
  display: flex;
  &:not(:last-child) { margin-bottom: $xs-size;  }
}

.form__radio-input__box {
  align-items: center;
  box-sizing: border-box;
  background-color: rgba(white, 0.20);
  border: 2px solid $orange;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  height: 20px;
  width: 20px;
  &:not(:only-child) { margin-right: $xs-size;  }
}

.form__radio-input__check {
  background-color: $orange;
  border-radius: 50%;
  height: 12px;
  margin: 0 auto;
  width: 12px;
}

.form__radio-input__name {
  color: $grey-dark;
  font-size: $font-s-size;
  font-weight: 400;
}

