$chevron-width: 15px;
$chevron-height: 25px;

// ARROW

.arrow {
  cursor: pointer;
  position: absolute;
  z-index: 10;
  &:focus { outline: none; };
}

// ARROW-DOWN

.arrow--down {
  bottom: calc(55px + #{$l-size});
  left: calc(50% - (#{$chevron-height} / 2));
}

@media (min-width: $breakpoint-mobile-s + 1) and (max-width: $breakpoint-mobile-l) {
  .arrow--down { bottom: calc(45px + #{$m-size}); }
}

@media (max-width: $breakpoint-mobile-s) {
  .arrow--down { bottom: calc(45px + #{$s-size}); }
}

// ARROW-LEFT

.arrow--left {
  left: calc(40px + #{$l-size});
  top: calc(50% - (#{$chevron-height} / 2));
}

@media (min-width: $breakpoint-mobile-s + 1) and (max-width: $breakpoint-mobile-l) {
  .arrow--left { left: calc(30px + #{$m-size}); }
}

@media (max-width: $breakpoint-mobile-s) {
  .arrow--left { left: calc(30px + #{$s-size}); }
}

// ARROW-RIGHT

.arrow--right {
  right: calc(55px + #{$l-size});
  top: calc(50% - (#{$chevron-height} / 2));
}

@media (min-width: $breakpoint-mobile-s + 1) and (max-width: $breakpoint-mobile-l) {
  .arrow--right { right: calc(45px + #{$m-size}); }
}

@media (max-width: $breakpoint-mobile-s) {
  .arrow--right { right: calc(45px + #{$s-size}); }
}


// CHEVRON

.chevron {
  background-size: cover;
  opacity: 0;
  position: absolute;
  transform: scale3d(0.5, 0.5, 0.5);
}

// CHEVRON--DOWN

.chevron--down {
  animation: moveDown 3s ease-out infinite;
  background-image: url('/images/chevron-down.svg');
  height: $chevron-width;
  width: $chevron-height;
}

.chevron--down:first-child {
  animation: moveDown 3s ease-out 1s infinite;
}

.chevron--down:nth-child(2) {
  animation: moveDown 3s ease-out 2s infinite;
}

@keyframes moveDown {
  25% {
    opacity: 1;
  }
  33% {
    opacity: 1;
    transform: translateY(30px);
  }
  67% {
    opacity: 1;
    transform: translateY(40px);
  }
  100% {
    opacity: 0;
    transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
  }
}

// CHEVRON--RIGHT

.chevron--right {
  animation: moveRight 3s ease-out infinite;
  background-image: url('/images/chevron-right.svg');
  height: $chevron-height;
  width: $chevron-width;
}

.chevron--right:first-child {
  animation: moveRight 3s ease-out 1s infinite;
}

.chevron--right:nth-child(2) {
  animation: moveRight 3s ease-out 2s infinite;
}

@keyframes moveRight {
  25% {
    opacity: 1;
  }
  33% {
    opacity: 1;
    transform: translateX(30px);
  }
  67% {
    opacity: 1;
    transform: translateX(40px);
  }
  100% {
    opacity: 0;
    transform: translateX(55px) scale3d(0.5, 0.5, 0.5);
  }
}

// CHEVRON--LEFT

.chevron--left {
  animation: moveLeft 3s ease-out infinite;
  background-image: url('/images/chevron-left.svg');
  height: $chevron-height;
  width: $chevron-width;
}

.chevron--left:first-child {
  animation: moveLeft 3s ease-out 1s infinite;
}

.chevron--left:nth-child(2) {
  animation: moveLeft 3s ease-out 2s infinite;
}

@keyframes moveLeft {
  25% {
    opacity: 1;
  }
  33% {
    opacity: 1;
    transform: translateX(-30px);
  }
  67% {
    opacity: 1;
    transform: translateX(-40px);
  }
  100% {
    opacity: 0;
    transform: translateX(-55px) scale3d(0.5, 0.5, 0.5);
  }
}

