// SECTION

.section {
  background: linear-gradient(225deg, $orange-dark, $orange);
  border: $l-size solid white;
  position: relative;
}

@media (min-width: $breakpoint-mobile-s + 1) and (max-width: $breakpoint-mobile-l) {
  .section { border-width: $m-size; }
}

@media (max-width: $breakpoint-mobile-s) {
  .section { border-width: $s-size; }
}

// SECTION-TITLE

.section-title {
  font-family: 'Bebas Neue';
  font-size: $font-xxl-size;
  font-weight: normal;
  left: 0;
  line-height: 1;
  margin: 0;
  position: absolute;
  right: 0;
  text-align: center;
  top: $l-size;
}

@media (min-width: $breakpoint-mobile-s + 1) and (max-width: $breakpoint-mobile-l) {
  .section-title { font-size: $font-xl-size; top: $m-size; }
}

@media (max-width: $breakpoint-mobile-s) {
  .section-title { font-size: $font-l-size; top: $s-size; }
}
