$s5-breakpoint-mobile: 880px;
$s5-breakpoint-desktop: 881px;;

// FLEX

.s5-flex {
  align-items: center;
  display: flex;
}

@media (max-width: $s5-breakpoint-mobile) {
  .s5-flex {
    flex-direction: column;
    padding: 0 2.4rem;
  }
}

@media (min-width: $s5-breakpoint-desktop) {
  .s5-flex {
    justify-content: space-between;
    margin: 0 auto;
    width: 75vw;
  }
}

// RIGHT

@media (max-width: $s5-breakpoint-mobile) {
  .s5-right {
    text-align: center;
  }
}

@media (min-width: $s5-breakpoint-desktop) {
  .s5-right {
    width: 50%;
  }
}

// TITLE

.s5-title {
  color: $grey-dark;
  font-family: 'Bebas Neue';
  font-size: $font-l-size;
  font-weight: normal;
  line-height: 1;
  margin: 0;
}

@media (max-width: $s5-breakpoint-mobile) {
  .s5-title {
    font-size: 3.8rem;
  }
}

// DESCRIPTION

.s5-description { font-size: $font-m-size; }

@media (max-width: $s5-breakpoint-mobile) {
  .s5-description {
    font-size: 1.8rem;
    margin: 1rem 0;
  }
}

// LINK

.s5-link {
  color: white;
  font-size: $font-s-size;
  font-weight: 800;
  text-decoration: none;
  border-bottom: .6rem solid white;
  transition: all .25s;
  &:hover {
    color: $orange-35;
    border-bottom-color: $orange-35;
  }
}

// ILLUSTRATION

@media (min-width: $s5-breakpoint-desktop) {
  .s5-illustration { width: calc(50% - #{$l-size}) }
}

@media (max-width: $s5-breakpoint-mobile) {
  .s5-illustration { width: 50vw }
}
