// NAME

#s1-name {
  font-family: 'Bebas Neue';
  font-size: 12rem;
  line-height: .9;
  position: absolute;
  right: -3px;
  text-align: right;
  top: $l-size;
}

@media (min-width: $breakpoint-mobile-s + 1) and (max-width: $breakpoint-mobile-l) {
  #s1-name {
    font-size: 9rem;
    top: $m-size;
  }
}

@media (max-width: $breakpoint-mobile-s) {
  #s1-name {
    font-size: 7rem;
    top: $s-size;
  }
}

// HEADLINE

#s1-headline {
  font-size: $font-xxl-size;
  font-weight: normal;
  margin: 0 auto;
  max-width: 500px;
  text-align: center;
}

@media (min-width: $breakpoint-mobile-s + 1) and (max-width: $breakpoint-mobile-l) {
  #s1-headline {
    padding: 0 $m-size;
    font-size: $font-xl-size;
  }
}

@media (max-width: $breakpoint-mobile-s) {
  #s1-headline {
    padding: 0 $s-size;
    font-size: $font-l-size;
  }
}
