$s5-breakpoint-mobile: 880px;
$s5-breakpoint-desktop: 881px;;

// FLEX

.s5-flex {
  align-items: center;
  display: flex;
}

@media (min-width: $breakpoint-mobile-l + 1) {
  .s5-flex {
    margin: 0 auto;
    justify-content: space-between;
    width: 70vw;
  }
}

@media (max-width: $breakpoint-mobile-l) {
  .s5-flex { flex-direction: column; }
}

@media (min-width: $breakpoint-mobile-s + 1) and (max-width: $breakpoint-mobile-l) {
  .s5-flex { padding: 0 calc(#{$m-size} + 30px); }
}

@media (max-width: $breakpoint-mobile-s) {
   .s5-flex { padding: 0 calc(#{$s-size} + 3Ò0px); }
}

// RIGHT

@media (min-width: $breakpoint-mobile-l + 1) {
  .s5-right { width: 50%; }
}

@media (max-width: $breakpoint-mobile-l) {
  .s5-right { text-align: center; }
}

// TITLE

.s5-title {
  color: $grey-dark;
  font-family: 'Bebas Neue';
  font-size: $font-l-size;
  font-weight: normal;
  line-height: 1;
  margin: 0;
}

// DESCRIPTION

.s5-description {
  font-size: $font-m-size;
  line-height: 1.2;
}

@media (max-width: $breakpoint-mobile-l) {
  .s5-description { margin: $xs-size 0; }
}

@media (max-width: $breakpoint-mobile-l) {
  .s5-description { font-size: $font-xs-size; }
}

// LINK

.s5-link {
  color: white;
  font-size: $font-s-size;
  font-weight: bold;
  text-decoration: none;
  border-bottom: .6rem solid white;
  transition: all .25s;
  &:hover {
    color: $orange-35;
    border-bottom-color: $orange-35;
  }
}

@media (max-width: $breakpoint-mobile-l) {
  .s5-link { font-size: $font-xs-size; }
}

// ILLUSTRATION

@media (min-width: $breakpoint-mobile-l + 1) {
  .s5-illustration { width: calc(50% - #{$l-size}) }
}

@media (max-width: $breakpoint-mobile-l) {
  .s5-illustration {
    margin-bottom: $xs-size;
    height: 15vh
  }
}
