$breakpoint-s3: 1170px;

// TEXT

#s3-text {
  font-size: $font-l-size;
  line-height: 1.4;
  padding: 0 20vw;
  text-align: center;
}

@media (max-width: $breakpoint-s3) {
  #s3-text {
    font-size: $font-m-size;
    padding: 0 15vw;
  }
}

@media (min-width: $breakpoint-mobile-s + 1) and (max-width: $breakpoint-mobile-l) {
  #s3-text {
    font-size: $font-s-size;
    padding: 0 $m-size;
  }
}

@media (max-width: $breakpoint-mobile-s) {
  #s3-text {
    font-size: $font-xs-size;
    padding: 0 $s-size;
  }
}
