$breakpoint-s2: 1170px;

// PHOTO

#s2-photo {
  bottom: 0;
  height: 80vh;
  position: absolute;
  right: 0;
}

@media (max-width: $breakpoint-s2) {
  #s2-photo { display: none; }
}

// TEXT

#s2-text {
  line-height: 1.4;
  text-align: center;
}

@media (min-width: $breakpoint-s2 + 1) {
  #s2-text {
    font-size: $font-l-size;
    margin-left: 7.5vw;
    text-align: left;
    width: 640px;
  }
}

@media (min-width: $breakpoint-mobile-l + 1) and (max-width: $breakpoint-s2) {
  #s2-text {
    font-size: $font-m-size;
    padding: 0 15vw;
  }
}

@media (min-width: $breakpoint-mobile-s + 1) and (max-width: $breakpoint-mobile-l) {
  #s2-text {
    font-size: $font-s-size;
    padding: 0 $m-size;
  }
}

@media (max-width: $breakpoint-mobile-s) {
   #s2-text {
    font-size: $font-xs-size;
    padding: 0 $s-size;
  }
}
