// LABEL

#s1-label {
  align-items: center;
  background: linear-gradient(225deg, $blue-dark, $blue);
  border-radius: 0 50px 50px 0;
  box-shadow: $box-shadow-medium;
  display: flex;
  left: 0;
  position: absolute;
  padding: $m-size $l-size $m-size $m-size;
  top: $l-size;
}

#s1-label__light {
  background: linear-gradient(225deg, #61D836, #3F8C23);
  border-radius: 50%;
  height: 20px;
  margin-right: $m-size;
  width: 20px;
}

#s1-label__text { font-size: $font-s-size; }

// NAME

#s1-name {
  font-family: 'Bebas Neue';
  font-size: 12.8rem;
  line-height: .9;
  position: absolute;
  right: -3px;
  text-align: right;
  top: $l-size;
}

// HEADLINE

#s1-headline { text-align: center; }
