// SKILLS

#s4-skills {
  content: url('/images/skills.png');
  display: block;
  margin: 0 auto;
  max-height: 50vh;
  max-width: 80vw;
  object-fit: scale-down;
}

@media (max-width: $breakpoint-mobile-l) {
  #s4-skills { content: url('/images/skills-mobile.png'); }
}
