// CONTENT-CONTAINER

#content-container {
  align-items: center;
  bottom: 0;
  display: flex;
  left: 0;
  position: absolute;
  right: 0;
  top: calc(#{$l-size} + #{$font-xl-size} - 8px);
}

// FORM-CONTAINER

#s6-form-container {
  background: linear-gradient(225deg, $orange-20, $orange-35);
  border-radius: 50px;
  margin: 0 auto;
  position: relative;
  padding: $l-size $xl-size;
  width: 40vw;
}
