@import url('https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css?family=Bebas+Neue|Montserrat&display=swap');

h1 {
  font-family: 'Bebas Neue';
  color: white;
  font-size: 130px;
}

h2 {
  font-family: 'Montserrat';
  color: white;
}
